<!DOCTYPE html>
<html lang="cs-CZ">
<head>

  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
test
<img src="../public/images/img.png" width="100"  alt="image"/>
{{ message }}
</body>
</html>
